*{
   margin:0;
}


html, body {
   overflow-x: hidden;
   margin: 0;
   border: 0;
   padding: 0;
   min-width: 100%;
   font-family: 'Bungee Hairline', cursive;
}

h2 {
   font-family: 'IBM Plex Sans Condensed', sans-serif;
   font-size: 15px;
}

h3 {
   padding: 35px 0px 25px 0px;
   font-size: 30px;
}

h4 {
   font-size: 19px;
   padding: 10px 0 10px 0;
}

header {
   background-color: black; 
   color: white;
   width: 100%;
   text-align:center;
   height: 100%;
}

section {
   display: block;
   text-align: center;
}

#headline {
   width: 95%;
   font-family: 'Bungee Hairline', cursive;
   padding-top: 230px;
   margin-left: auto;
   margin-right: auto;
}

#sections {
   width: 100%;
}

#bio {
   width: 100%;
   background-color: black;
   position: relative;
   color: white;
   font-size: 40px;

}

.shortcut > input{
   height:40px;
}

#headshot {
   left: 40%;
   height: 40%;
   position:absolute;
   bottom:0;
}

.guide {
   z-index: 3;
   position: fixed;
   text-align: center;
   width: 100%;
   height: 40px;
   bottom: 0;
   right:0;
}

.guide > span {
   margin: auto;
}

.devices {
   width: 90%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}


.description {
   font-weight: 400;
   font-size: 11pt;
   font-family: 'Exo', sans-serif;
   width: 85%;
   text-indent: 10pt;
   text-align: left;
   margin-left: auto;
   margin-right: auto;
   padding-top:15px;
   padding-bottom: 25px;
}

#bio > p {
   font-size: 12pt;
   padding-top: 100px;
   width: 80%;
   text-indent: 10pt;
   text-align: left;
   margin-left: auto;
   margin-right: auto;
}

.category {
   font-family: 'Exo', sans-serif;
   font-size: 10pt;
   margin: 0;
   position: absolute;
   left: 5px;

}

.shortcuts {
   vertical-align: bottom;
   padding: 0;
   padding-top: 20px;
}

.shortcut {
   width: 100px;
   padding: 0px 10px 0px 10px;
  
}
.shortcut >button {
   font-family: 'Bungee Hairline', cursive;
   font-size: 15px;
   color:white;
   background-color: black;
   border: none; 
}

ul > li {
   display: inline-block;
   list-style: none;
}

.tech-logo {
   height: 30px;
}

.tech-container {
   display: inline-block;
   margin: 0px;
   text-align: center;
   padding: 5px 10px 10px 5px;

}
.tech-container > span {
   font-family: 'Exo', sans-serif;
   font-size: 11px;
   display: block;
}

.technology{
   display: inline-block;
   text-align: center;
   width: 65%;
   margin-left: auto;
   margin-right: auto;
}

.app-links {
   font-weight: 900;
   margin: 20px 0px 25px 0px;
   font-size: 17px;
   color: black;
}

.app-links > a {
   padding: 0 7px 0 7px;
   color: black;
}

ul {
   margin: 0;
   padding: 0;
}


@media only screen
  and (min-device-width: 1025px) {
   .devices {
      width:50%;
      float: right;
      padding-right: 60px;
   }


   .description {
      float:left;
      width:35%;
      font-size: 20px;
      padding-left: 60px;

   }

   .technology {
   margin: 0;
   text-align: center;
   width: 40%;
   }

   .app-links {
      position: relative;
      left:630px;
      top:170px;
      width:30%;
      margin: 0;
   }


#headshot {
   left: 65%;
   height: 60%;
   position:absolute;
   bottom:0;
}

h3 {
   margin-bottom: 100px;
}
}