*{
   margin:0;
}


html, body {
   overflow-x:hidden;
   height: 100%;
   margin: 0;
   min-width: 100%;
   font-family: 'Bungee Hairline', cursive;

}

.full-height {
  height:100%;
}

h2 {
   font-family: 'IBM Plex Sans Condensed', sans-serif;
   font-size: 15px;
}

h3 {
   padding: 35px 0px 25px 0px;
   font-size: 30px;
}

h4 {
   padding: 15px 0 0 0;
}

header {
   background-color: black; 
   color: white;
   width: 100%;
   text-align:center; 
   display:table;
}

section {
   text-align: center;
}

#headline {
   font-family: 'Bungee Hairline', cursive;
   margin-top: 230px;
}

#sections {
   width: 100%;
}

#bio {
   width: 100%;
   background-color: black;
   position: relative;
   color: white;
   font-size: 40px;

}

#headshot {
   left: 40%;
   height: 40%;
   position:absolute;
   bottom:0;
}

.guide {
   z-index: 3;
   position: fixed;
   text-align: center;
   width: 100%;
   height: 40px;
   bottom: 0;
   right:0;
}

.guide > span {
   margin: auto;
}

.devices {
   width: 90%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}


.description {
   font-size: 11pt;
   font-family: 'Exo', sans-serif;
   width: 85%;
   text-indent: 10pt;
   text-align: left;
   margin-left: auto;
   margin-right: auto;
   padding-top:15px;
   padding-bottom: 25px;
}

#bio > p {
   font-size: 12pt;
   padding-top: 100px;
   width: 80%;
   text-indent: 10pt;
   text-align: left;
   margin-left: auto;
   margin-right: auto;
}

.category {
   font-family: 'Exo', sans-serif;
   background-color: white;
   font-size: 10pt;
   top:8px;
   left:8px;
   position: fixed;
   margin: 0;
   padding-right:5px;
   z-index: 3;

}

.shortcuts {
 vertical-align: bottom;
   padding: 0;
}

ul > li {
   display: inline;
   list-style: none;
}

.tech-logo {
   height:30px;
}

.tech-container {
   float:left;
   margin: 5px;
}
.tech-container > span {
   font-family: 'Exo', sans-serif;
   font-size: 12px;
   display: block;
}

.technology{
   display: inline-block;
   text-align: center;
   width: 85%;
   margin-left: auto;
   margin-right: auto;
}

.app-links {
   margin: 15px 0px 20px 0px;
   font-size: 13px;
   color: black;
}

.app-links > a {
   padding: 0 7px 0 7px;
}

ul {
   margin: 0;
}


@media only screen
  and (min-device-width: 1020px) {
   .devices {
      width:50%;
      float: right;
   }


   .description {
      float:left;
      width:35%;
      font-size: 20px;
      padding-left: 40px;

   }

   .technology {
   margin: 0;
   text-align: center;
   width: 40%;
   }

   .app-links {
      position: relative;
      left:600px;
      top:150px;
      width:30%;
      margin: 0;
   }


#headshot {
   left: 65%;
   height: 60%;
   position:absolute;
   bottom:0;
}
}