
html, body {
   overflow-x:hidden;
   height: 100%;
   margin: 0;
   min-width: 100%;
}


.full-height {
   height: 100%;
}

header {
   background-color: black; 
   color: white;
   width: 100%;

}

#title {
   text-align: center;
   
}

#projects {
   width: 100%;
   text-align: center;

}

#bio {
   width: 100%;
   background-color: black;
   position: relative;
   color: white;
   font-size: 40px;
   text-align: center;

}

#headshot {
   left: 50%;
   height: 60%;
   position:absolute;
   bottom:0;
}